.DS_Store
node_modules
dist
.vite
.env
.env.dev
.env.prod
.env.local
frontend/node_modules
frontend/dist
backend/.venv
backend/__pycache__
backend/.pytest_cache
backend/uploads
uploads
artifacts
!artifacts/.gitkeep
